.footer {
  width: 100%;
  background-color: #070707;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 30px 0 60px;
}

.content {
  width: 850px;
  margin: 0;
  padding: 0;
}

.dev_info {
  width: 100%;
  color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.dev_info_list > li > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #000;
    color: #999;
}


.dev_info_list > li > a:hover svg {
    color: #fff;
}

.dev_info_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 25px 0;
}

.copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
  color: #fff;
  padding: 20px 0;
}

.copyrights > p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  color: #999;
}

.copyrights > p:first-child {
    color: #555;
}

.support_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.support_info > p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.support_info > p:first-child {
    color: #ffffff;
}

.support_info > p {
    color: #999;
}

.footer_links_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
}

.footer_links_list > li > a {
    color: #999;
}

@media screen and (max-width: 1024px) {

    .content {
        width: 100%;
    }

    .support_info {
        padding: 0 20px;
        text-align: center;
    }
}