.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user_info {
    padding: 20px;
    border-bottom: 1px solid #E3E4E9;
}

.user_info > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user_info > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-between;
}

.user_info > ul > li > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.admin_nav {
    width: 100%;
}

.major_item {
    position: relative;
    box-sizing: border;
    border-bottom: 1px solid #E3E4E9;
    color: #111;
    font-size: 0.9rem;
    cursor: pointer;
}

.major_item > p {
    margin: 0;
    padding: 12px 20px;
    color: #111;
    font-weight: 500;
}

.sub_list {
    display: none;
    overflow: hidden;
}

.major_item.active > .sub_list {
    display: block;
}

.sub_list > li {
    padding: 10px 0;
}

.sub_list > li:first-child {
   border-top: 1px solid #E3E4E9;
}

.sub_list > li > a {
    padding: 0 20px 0 30px;
}

.sub_list > li:hover {
    background-color: #ebf3ff;
}