.header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #111;
}

.top {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  position: fixed;
  width: 100%;
  border-top: 1px solid #111;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.541);
}

.nav > ul {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.main_nav > a:hover {
  border-bottom: 1px solid #fff;
}

.sub_nav > a:hover {
  border-bottom: 1px solid #555;
}

.title {
  color: #aaa;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 0;
  box-sizing: border-box;
}
.title > a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sign_in {
  color: #aaa;
  background-color: #111;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 0.9rem;
}

.main_nav > a {
  color: #ffffff;
  font-weight: 300;
  padding: 3px 0;
}

.sub_nav > a {
  color: #555;
  font-weight: 300;
  padding: 3px 0;
}

.mobile_nav {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {

    padding: 5px 20px;
    box-sizing: border-box;
  }
  .top {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
}