.container {
    width: 850px;
    padding: 30px 0;
}

@media screen and (max-width: 1024px) {
    .container {
        margin-top: 70px;
        padding: 30px 20px;
        width: 100%;
        box-sizing: border-box;
    }
    
}